html, body {
    background: #2bc0e4;
    background-image: url("http://files.pharo.org/media/logo/icon-lighthouse-512x512.png"), linear-gradient(to bottom, #2bc0e4, #eaecc6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

.title {
    font-size: 100px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.tagline {
    font-size: 25px;

}
