@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');

html, body {
	background: #eeebd8;
}

.feed-post {
	font-size: 15px;
	font-family: 'Im Fell Great Primer';
	background: #ebf6f9;
	border: 1px solid #083e4a;
	border-radius: 5px;
	padding: 0 5px;
	margin: 10px 0;
}

.font {
	font-family: 'IM Fell Great Primer';
}

.guides {
	margin: 5px 0;
	font-size: 18px;
}

.candy-apple {
	color: #083e4a;
}

.navy {
	color: #083e4a;
}

.blue-gray {
	color: #0d4b96;
}

.logo {
	text-align: center;
}

#lighthouse {
	height: 250px;
	align-items: center;
}