html, body {
	background: #caeef5;
}

.feed-post {
	font-size: 15px;
	background: #23c8ce;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 0 5px;
	margin: 10px 0;
}

li {
	margin: 5px 0;
	font-size: 18px;
	text-align: center;
}

.candy-apple {
	color: #ff0000;
}

.navy {
	color: #002d4e;
}

.seafoam {
	color: #23c8ce;
}

.blue-gray {
	color: #caeef5;
}

.sidebar {
	background: #caeef5;
}

#logo {
	margin: 5px;
	text-align: center;
}